// Spacing Units
$base-spacing-unit: 8px !default;
$double-spacing-unit: $base-spacing-unit * 2 !default;

// Colours
$brand-blue: rgb(0, 148, 215) !default;
$brand-blue-dark: rgb(0, 106, 154) !default;
$brand-yellow: rgb(255, 219, 0) !default;
$white: rgb(255, 255, 255) !default;
$black: rgb(33, 33, 33) !default;
$grey: rgb(230, 230, 230) !default;

// Typography
$font-family: 'Montserrat', sans-serif;
