.ee-o-button {
    font-size: 16px;
    width: 75px;
    height: 60px;
    flex: 0 0 auto;
    border: none;
    outline: none;
}

.ee-o-button--span-double {
    width: 150px;
}

.ee-o-button--span-triple {
    width: 225px;
}
