.ee-c-calculator {
    max-width: 300px;
    width: 100%;
    background-color: $calculator-background;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.ee-c-calculator__controls {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
