* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    background-color: $body-background;
}

html,
body,
#root,
.ee-container {
    width: 100%;
    height: 100%;
}

.ee-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
